body{
  border: 2px solid black;
  max-width: 700px;
  margin: 0 auto;
}
.header{
   padding: 10px;
   display: flex;
   justify-content: space-between;
}
.header a{
  text-decoration: none;
  color: #333;
  font-weight: 5px;
}
.logo{
  font-weight: bold;
}
.nav-bar{
  display: flex;
  gap: 25px;
}